<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                Book List (10)
                <div>
                    <a class="btn btn-success mx-1" [routerLink]="['/book-create']">Create New Book</a>
                    <a class="btn btn-primary mx-1" [routerLink]="['/']">Go To Dashboard</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>

                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>